@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --blue: #54adff;
  --green: #14dd89;
  --pink-300: #ffb3d7;
  --pink-400: #ff72c6;
  --pink-500: #f533a8;
  --purple: #ef8aff;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #1f2ade;
  }

  p::-webkit-scrollbar,
  textarea::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
